@mixin focused-inset() {
    outline: 0 none;
    outline-offset: 0;
    transition: box-shadow .2s;
    box-shadow: inset var(--focus-ring);
    background-color: black;
}

.col-12:hover .surface-card {
    cursor: pointer;
    @include focused-inset();
}

.textHeader {
    display: flex;
    text-align: left;
    align-items: center;
}