.btn-stripe-payment {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stripe-payment-container {
    background-color: #E4ECDE;
    padding: 0.5rem;
    border-radius: 16px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}