.toolbarOrders {
    border: none !important;
    padding: 0.25rem !important;
}

.product-add-order {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.product-add-info {
    display: flex;
    align-items: center;
}

.product-info {
    width: 15rem;
}

.bttnFoot {
    margin-top: 1rem !important;
}


.confirmation-typePayment {
    display: flex;
    justify-content: space-around;
    margin-top: 0.2rem;
}

.footerBill {
    display: flex;
    justify-content: center;
}

.bttnFoot {
    margin-top: 1.2rem !important;
}

.image-fill {
    object-fit: contain;
    max-height: 100%;
    margin: auto;
}

.account-info {
    display: flex;
    flex-direction: column;
}

.p-datatable-tfoot>tr>td {
    border: none !important;
    background: none !important;
}

.dialog-account-container {
    .p-dialog-content {
        padding: 0 1.5rem 0.5rem 1.5rem !important;
    }
}

.hide-iconClose-onDonwload {
    .pi-times:before {
        content: none;
    }
}

.show-iconClose-onDonwload {
    .pi-times:before {
        content: "\e90b";
    }
}