.orders-container {
    padding-top: 4.5rem;
}

.order_container {
    background-color: white;
    margin-bottom: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 12px;
    min-height: 6rem;
}

.content_order {
    display: flex;
    align-items: center;
}

.content_order_info {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 5rem;
}

.noOrders-container {
    padding-top: 5rem;
}

.noOrder_container {
    background-color: white;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.status-payment-tracking-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    background-color: var(--surface-ground);
    z-index: 997;
    padding-bottom: 1rem;
}

.orders-payment-tracking-container {
    margin-top: 3rem;
}