.my-tag {
    margin-right: 0.5rem;
}

.p-dialog .p-dialog-content {
    padding: 0 1.5rem 0rem 1.5rem !important;
}

@media (max-width: 1674px) {
    .my-tag-bottom {
        margin-bottom: 0.5rem;
    }
}