.buttonImage {
    width: 99% !important;
}

.imageField {
    margin-left: 0.1rem;
}

.switchActive {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.1rem;
}