.footer-orders-pay-container {
    .p-dialog-content {
        padding: 1rem 1.5rem 2rem 1.5rem !important;
    }
}

.footer-payment-content {
    display: flex;
    align-content: center;
    justify-content: center;
}

.table-orders-pay thead {
    display: none;
}

.paymentDialog-container {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.paymentDialog-button {
    width: 100%;
}

.dialog-payment-confirm-container {
    .p-dialog-content {
        padding: 1rem 1.5rem 1rem 1.5rem !important;
    }
}

.footer-noPayment-container {
    .p-dialog-content {
        padding: 1rem 1.5rem 1.5rem 1.5rem !important;
    }
}

.paymentDialog-top-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.paymentDialog-bottom-buttons {
    display: flex;
    justify-content: center;
}