.image-container {
    height: 40vh !important;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.content-container {
    height: 60vh !important;
}

.image-fill-container {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.toast-container {
    margin-right: 1rem;
    margin-left: 1rem;
}

@media (max-width: 768px) {
    .p-toast .p-toast-message {
        margin-right: 1rem !important;
        margin-left: 1rem !important;
    }
}