.layout-mobile {
    padding: 0 1rem !important;
}

.layout-image {
    margin-right: 0rem !important;
}

.layout-table {
    border: 1px solid;
    padding: 0.75rem 1.25rem;
    border-radius: 6px;
}

.layout-button {
    height: 2.5rem !important;
    width: 2.5rem !important;
}

.header_cart_color {
    background: #f8f5f5 !important;
}