.header-main-container {
    position: fixed;
    background-color: var(--surface-ground);
    z-index: 997;
    width: 90%;
}

.header-top-main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-bot-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}

.header-container {
    display: flex;
    align-items: center;
}

.header_cart_color {
    background: #f8f5f5 !important;
}

.dialog-header-container {
    .p-dialog-content {
        padding: 0.5rem 1.5rem 0.5rem 1.5rem !important;
    }
}

.dialog-header-confirm-container {
    .p-dialog-content {
        padding: 1rem 1.5rem 1rem 1.5rem !important;
    }
}

.shoppingCart-icon {
    font-size: 1.8rem !important;
    margin-right: 2.5rem;
}

.button-payment {
    margin-right: 1.7rem !important;
    height: 2.5rem !important;
    padding: 0.75rem 1rem !important;
}

.table-orders-payment {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bill-dialog-container {
    .p-dialog-content {
        padding: 0 1rem 1rem 1rem !important;
    }
}

.hide-client-iconClose-onDonwload {
    .pi-times:before {
        content: none;
    }
}

.show-client-iconClose-onDonwload {
    .pi-times:before {
        content: "\e90b";
    }
}

.footerPayment-client {
    display: block;
    text-align: center;
}

.orders-account-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}