.header-main-container {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 83%;
    background-color: var(--surface-ground);
    z-index: 997;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-qrDialog-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.header_cart_color {
    background: #f8f5f5 !important;
}

.dialog-header-container {
    .p-dialog-content {
        padding: 0.5rem 1.5rem 0.5rem 1.5rem !important;
    }
}

.dialog-header-confirm-container {
    .p-dialog-content {
        padding: 1rem 1.5rem 1rem 1.5rem !important;
    }
}

.shoppingCart-icon {
    font-size: 1.8rem !important;
    margin-right: 0.8rem;
}