.products-container {
    padding-top: 4.5rem;
}

.product_container {
    background-color: white;
    margin-bottom: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 12px;
    min-height: 6rem;
}

.content_product {
    display: flex;
    align-items: center;
}

.content_product_info {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 5rem;
}