.align-container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.align-container-mobile {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.align-content-mobile {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}