.align-container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-fill {
    object-fit: contain;
    max-height: 100%;
    margin: auto;
  }